@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Syne'), local('Syne'),
    url('/fonts/Syne-Regular.woff2') format('woff2'),
    url('/fonts/Syne-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Syne Bold'), local('Syne-Bold'),
    url('/fonts/Syne-Bold.woff2') format('woff2'),
    url('/fonts/Syne-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Syne';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Syne Italic'), local('Syne-Italic'),
    url('/fonts/Syne-Italic.woff2') format('woff2'),
    url('/fonts/Syne-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Syne';
  font-style: oblique;
  font-weight: 400;
  font-display: swap;
  src: local('Syne Mono'), local('Syne-Mono'),
    url('/fonts/Syne-Mono.woff2') format('woff2'),
    url('/fonts/Syne-Mono.woff') format('woff');
}

@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Syne Extra'), local('Syne-Extra'),
    url('/fonts/Syne-Extra.woff2') format('woff2'),
    url('/fonts/Syne-Extra.woff') format('woff');
}

:root {
  font-family: 'Syne', 'Arial Black', 'Gadget', sans-serif;
  font-size: 16px; /* Default browser font size */
  line-height: 1.5;
}
